.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: white;
}
.link {
  color: white;
}
.content {
  padding-top: 50px;
}